.content {
  display: flex;
  padding: 16px;
  margin-bottom: 5px;
  background-color: var(--color-grey-50);
}

.image {
  width: 80px;
  height: 120px;
  overflow: hidden;
  margin-right: 5px;
}

.image img {
  width: 30px;
  height: 30px;
}

.description {
  padding: 5px;
  width: 130px;
}

.description h3 {
  font-weight: bold;
  color: var(--color-grey-600);
  letter-spacing: 1.3px;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description p {
  font-size: 14px;
  font-weight: bold;
}

.description .size {
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
