/* Sidebar */
.sidebar {
  background-color: #fff;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 2.5s;
  overflow-y: auto;
  z-index: 2;
}

.sidebar.active {
  right: 0;
  transition: 680ms;
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  background-color: #000;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.icon {
  position: absolute;
  left: 30px;
  margin-right: 2rem;
  text-align: center;
  cursor: pointer;
}

.cartContent {
  height: 70vh;
  overflow-y: auto;
}

.cartContent::-webkit-scrollbar {
  display: none;
}

.viewCart {
  position: absolute;
  bottom: 30px;
  left: 35px;
  height: 160px;
}

.viewCart a button {
  padding: 10px 7rem;
  background-color: orangered;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  transition: 800ms;
  margin-top: 2.3rem;
}

.viewCart a button:hover {
  opacity: 0.9;
  transition: 650ms;
}

.viewCart .amount h2 {
  font-size: 30px;
  letter-spacing: 1.4px;
  font-weight: 300;
  margin-bottom: 10px;
}

.viewCart .amount p {
  font-size: 22px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
