.grid {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  max-width: 1100px;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
  align-content: center;
}

.actions {
  margin-top: 2rem;
  text-align: center;
}

.actions button {
  padding: 14px 60px;
  color: #663898;
  border: 1px solid #663898;
}

.actions button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in;
}
