.header {
  background-color: var(--color-grey-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 13px;
  overflow: hidden;
  width: 98%;
  z-index: 1;
  top: 0;
  opacity: 1;
  background-color: var(--color-grey-50);
}

.header div {
  width: 300px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -9rem;
}

.links a {
  transition: color 0.56s;
  letter-spacing: 1.1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.links a:hover {
  color: rgb(12, 218, 12);
}

.header .icons {
  display: flex;
  cursor: pointer;
}

.header .icons div {
  display: flex;
  letter-spacing: 1.2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header .icons div p {
  margin-left: 10px;
  border-bottom: 1px solid #bbb8b8;
}

.header a {
  color: var(--color-grey-900);
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header div {
    width: 290px;
  }

  .header nav {
    width: 200px;
    margin: 0 auto;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -9rem;
  }

  .header .icons {
    display: flex;
    cursor: pointer;
    margin-right: -2.5rem;
  }
}
