.contentContainer {
  max-width: 1800px;
  height: 570px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 5rem 0 1rem 0;
}

.image {
  width: 25%;
  max-height: 50rem;
  overflow: hidden;
  margin-right: 2rem;
}

.image img {
  object-fit: cover;
}
