.footer {
  max-width: 1300px;
  height: 300px;
  margin: 2.8rem auto 0 auto;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials ul li {
  padding: 12px;
  letter-spacing: 1.3px;
  font-size: 14px;
  font-weight: 300;
}

.socials .mailingList {
  margin-bottom: 30px;
}

.socials .mailingList h3 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.3px;
  font-weight: 600;
  margin-bottom: 8px;
}

.socials .mailingList p {
  letter-spacing: 1.1px;
  font-size: 14px;
  font-weight: 300;
}

.form input {
  padding: 10px 30px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  margin-bottom: 12px;
}

.form button {
  border: none;
  outline: none;
  padding: 15px 65px;
  font-size: 13px;
  letter-spacing: 1.1px;
}

.form button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;
}
